.events {
	min-height: 1px;
	position: relative;
}
.events-toggle-frame-container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.events-toggle-frame {
	margin-bottom: 1px;
}
.events-toggle, .events-toggle-accordion {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
	border-bottom: 1px solid #e6e6e6;
}
.events-toggle-frame .events-toggle-accordion, .events-toggle-frame .events-toggle {
	margin: 0px;
	background: #f4f4f4;
	width: 100%;
    border-left: 5px solid #c8c8c8;
    padding: 0px;
}
.events-toggle-accordion {
    cursor: pointer;
    display: flex;
    flex-flow: row;
}
.events-toggle-accordion.active{
    border-color: #0f88bb;
    background-color: #179ed6;
}
*, ::before, ::after {
	box-sizing: border-box;
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
.events .switch {
    margin: 23px 9px 0px 15px;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
}
.events .switch input {
	opacity: 0;
	width: 0;
    height: 0;
    overflow: visible;
}
.events .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.events .slider::before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.events .slider.round {
	border-radius: 34px;
}
.events .slider.round::before {
	border-radius: 50%;
}
.events .active .slider {
	background-color: #f32121;
}

.events .active .slider::before {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(12px);
}
.events-toggle-accordion div{
    font-size: 14px;
    font-weight: 500;
    color: #37251B;
    display: block;
    padding: 0px 15px 0px 60px;
}
.events-toggle-accordion-title {
    position: relative;
}
.events-toggle-accordion.active div{
    color: #fff;
}

.events-toggle-content{
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
}